<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>

<form th:method="PATCH"
th:action="@{/books/{id}(id=${book.getBook_id()})}"
th:object="${book}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="author">Enter author name: </label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br>
    <label for="yearRelease">Enter year of release: </label>
    <input type="text" th:field="*{yearRelease}" id="yearRelease">
    <div style="color: red" th:if="${#fields.hasErrors('yearRelease')}" th:errors="*{yearRelease}"></div>
    <br>
    <input type="submit" value="Edit">
</form>

</body>
</html>