<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST"
    th:action="@{/books/find}">
    <label for="name">Enter name: </label>
    <input type="text" name="name" id="name">
    <br>
    <input type="submit" value="Искать!">
</form>
<div th:if="${!books.isEmpty()}">
    <div th:each="book : ${books}">
        <p th:text="${book.getName()} + ', released at ' + ${book.getYearRelease()}">
    </div>
</div>
<div th:if="${books.isEmpty()}">
    <p>Книг не найдено</p>
</div>



</body>
</html>